<div class="columns is-centered">
    <div class="column is-half">

        <%= simple_form_for(@post) do |f|%>

            <%= render 'posts/partials/form', post: @post %>    
        <% end %>
    </div>
</div>
